.new-task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  gap: 10px;
  width: 450px;
}

.type-task {
  outline: none;
  border: none;
  width: 90%;
  height: 35px;
  padding: 10px;
  border-bottom: 3px solid var(--green);
  background-color: #2e9e5549;
  font-size: 18px;
}

.add-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  outline: none;
  border: none;
  background-color: var(--red);
}
