.main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.btn-action {
  background-color: var(--blue-80);
  border: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-action:hover {
  background-color: white;
  color: var(--blue-80);
}

.btn-action:disabled {
  background-color: var(--blue-80);
  border: 1px solid white;
  color: white;
}

.exotic-section {
  width: 98%;
  height: 80%;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  border-radius: 10px;
  gap: 30px;
  padding: 20px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
